<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.syh1.mapper.BmsTipMapper">
    <select id="getRandomTip" resultType="com.syh1.model.entity.BmsTip">#结果类型是返回一个BmsTip实体对象
        select *#随机找出一个每日一卡组
        from bms_tip
        order by rand()
         limit 1
    </select>
</mapper>
